<%- include('../partials/header') %>
<link rel="stylesheet" type="text/css" href="/public/styles/edit.css">

<div class="container">
    <h5 class="text-primary">Configuring visually has never been easier ...</h3>

    <div id="accordion">
        
        <!-- industry section -->
        <div class="card">
            <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="collapsed"><i class="fas fa-plus fa-sm"></i></span><span><i class="fas fa-minus fa-sm"></i></span>Select your industry ... or skip ahead
                </button>
            </h5>
            </div>
    
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <!-- list industries -->
                    <div class="container">
                        <div class="row">
                            <% industries.forEach(element => { %> 
                            <div class="col-md-4 col-lg-3">
                                <div class="card m-2 industry" id="<%= element["id"] %>">
                                    <div class="card-header text-center"><%= element["industry"] %></div>
                                    <img class="card-img-bottom" src="/public/images/industries/<%= element["image src"]["standard"] %> " alt="">
                                </div>
                            </div>
                            <% }); %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- packaging goods section -->
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="collapsed"><i class="fas fa-plus fa-sm"></i></span><span><i class="fas fa-minus fa-sm"></i></span>Select the products you want to package
                </button>
            </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <!-- list packaged goods -->
                    <div class="container">
                        <div class="row">
                            <% goods.forEach(element => { %> 
                            <div class="col-md-4 col-lg-3">
                                <div class="card m-2 packaged-good" id="<%= element["id"] %>"> 
                                    <div class="card-header text-center"><%= element["packaged good"] %></div>
                                    <img class="card-img-bottom" src="/public/images/packaged-goods/<%= element["image src"]["standard"] %> " alt="">
                                </div>
                            </div>
                            <% }); %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- package types section -->
        <div class="card">
            <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class="collapsed"><i class="fas fa-plus fa-sm"></i></span><span><i class="fas fa-minus fa-sm"></i></span>Select the package type you want to use
                </button>
            </h5>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <!-- list package types -->
                    <div class="container">
                        <div class="row">
                            <% types.forEach(element => { %> 
                            <div class="col-md-4 col-lg-3">
                                <div class="card m-2 package-type" id="<%= element["id"] %>">
                                    <div class="card-header text-center"><%= element["package type"] %></div>
                                    <img class="card-img-bottom" src="/public/images/package-types/<%= element["icon"] %>" width="50" height="50" alt="">
                                </div>
                            </div>
                            <% }); %> 
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        
        <!-- other production parameters  -->
        <div class="card">
            <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span class="collapsed"><i class="fas fa-plus fa-sm"></i></span><span><i class="fas fa-minus fa-sm"></i></span>Enter production parameters
                </button>
            </h5>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <!-- form for parameter input -->
              
                </div>
            </div>
        </div>

        <!-- machine types and options  -->
        <div class="card">
            <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <span class="collapsed"><i class="fas fa-plus fa-sm"></i></span><span><i class="fas fa-minus fa-sm"></i></span>Select machine types and options
                </button>
            </h5>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <!-- list machine types -->
                
                </div>
            </div>
        </div>
    
    <!-- end accordion -->
    </div>

    <p id="update-cfg" class="btn btn-primary btn-block">Update Configuration</p>
</div>
 

<!-- handling UPDATE POST requrTODO delete client.js in show template, insert in new and edit -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f5fb1ac732.js" crossorigin="anonymous"></script>
<script src="/public/scripts/edit.js"></script>
<%- include('../partials/footer') %> 